@media(max-width: 350px){
    .respo{
        width: 230px !important;
        margin-left: 0px !important;
    }
    .custom-bg-set{
        background-color:#FFFFFF !important;
    }
}

@media(max-width: 250px){
    .respo{
        width: 200px !important;
        margin-left: 0px !important;
    }
}