@media(max-width: 380px){
    .custom-bg-set{
        background-color:#FFFFFF !important;
        padding-left: 0 !important;
    }
}

@media(max-width: 360px){
    .custom-bg-set{
        margin-left: -15px !important;
    }
}